<div class="footer">
  <a class="footer-item" href="https://github.com/DaniSalermi"
    ><img src="/assets/github.svg" alt="Logo GitHub"
  /></a>
  <a class="footer-item" href="https://www.linkedin.com/in/danielasalermi/"
    ><img src="/assets/linkedin.svg" alt="Logo Linkedin"
  /></a>
  <a class="footer-item" href="https://www.instagram.com/devstack.ds/"
    ><img src="/assets/instagram.svg" alt="Logo Instagram"
  /></a>
  <a class="footer-item" href="https://www.facebook.com/DaniSalermi/"
    ><img src="/assets/facebook.svg" alt="Logo Facebook"
  /></a>
  <a href="https://twitter.com/DaniSalermi"
    ><img src="/assets/twitter.svg" alt="Logo Twitter"
  /></a>
</div>
