<div class="footer">
  <div>
    <a class="footer-item" href="https://github.com/DaniSalermi" target="_blank"
      ><img src="/assets/github.svg" alt="Logo GitHub"
    /></a>
  </div>
  <div>
    <a
      class="footer-item"
      href="https://www.linkedin.com/in/danielasalermi/"
      target="_blank"
      ><img src="/assets/linkedin.svg" alt="Logo Linkedin"
    /></a>
  </div>
  <div>
    <a
      class="footer-item"
      href="https://www.instagram.com/devstack.ds/"
      target="_blank"
      ><img src="/assets/instagram.svg" alt="Logo Instagram"
    /></a>
  </div>
  <div>
    <a
      class="footer-item"
      href="https://www.facebook.com/DaniSalermi/"
      target="_blank"
      ><img src="/assets/facebook.svg" alt="Logo Facebook"
    /></a>
  </div>
  <div>
    <a href="https://twitter.com/DaniSalermi" target="_blank"
      ><img src="/assets/twitter.svg" alt="Logo Twitter"
    /></a>
  </div>
</div>
